{{ define "head" }}Dispatcher :: Subscribe{{ end }}

{{ define "title" }}Subscribe to Newsletter{{ end }}

{{ define "logged_out_nav" }}style="display:none;"{{end}}
{{ define "logged_in_nav" }}{{end}}

{{ define "full_body" }}{{end}}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	{{ $time := .TimeFunction }}
	{{ $prefix := .BasePrefix }}
	<div class="row">
		<div class="span3">
			<img class="img-polaroid" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/302066_10151616869615972_963571219_n.jpg"/>
		</div>
		<div class="span7">
			<h1>{{ .User.FullName }}</h1>
			<p>Current Address: <strong>{{ .User.Address }}</strong></p>
			<a href="#" class="btn btn-mini btn-warning"><i class="icon-camera"></i> Change Picture</a>
			<a href="#" class="btn btn-mini btn-warning"><i class="icon-refresh"></i> New Address</a>
		</div>
	</div>
	<div class="row">
		<div class="span5 padder">
			<h2>Public Messages</h2>
			{{ range .PublicMessages }}
				<a href="/{{ $prefix }}/{{ .Id }}">
					<div class="channel_block grey no-margin" style="height: auto;">
						<h5 class="muted pull-right">{{ call $time .Timestamp }}</h5>
						<h5>Public Message</h5>
						<p></p>
					</div>
				</a>
			{{ else }}
				<p>No messages here.</p>
			{{ end }}
		</div>
		<div class="span5 padder">
			<h2>Individual Messages</h2>
			{{ range .Messages }}
				<a href="/{{ $prefix }}/{{ .Id }}">
					<div class="channel_block grey no-margin" style="height: auto; margin-right: 10px;">
						<h5 class="muted pull-right">{{ call $time .Timestamp }}</h5>
						<h5>To <b>{{ .ToAddress }}</b></h5>
						<p></p>
					</div>
				</a>
			{{ else }}
				<p>No messages here.</p>
			{{ end }}
		</div>
	</div>
{{ end }}