{{ define "head" }}Dispatcher :: Subscribe{{ end }}

{{ define "title" }}Subscribe to Newsletter{{ end }}

{{ define "logged_out_nav" }}style="display:none;"{{end}}
{{ define "logged_in_nav" }}{{end}}

{{ define "full_body" }}{{end}}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	<h3>Current Subscriptions</h3>
	{{ $d := .DisplayTag }}
	{{ range .Subscriptions }}
		<div class="row extra-padding">
			<div class="span7">
				{{ call $d .SubscribedAddress }}
			</div>
			<div class="span1">
				<button class="btn btn-danger btn-remove"><i class="icon-remove"></i></button>
			</div>
		</div>
	{{ else }}
		<p>Nothing here. Add a subscription to a friend at the bottom of the page.</p>
	{{ end }}
	<hr/>
	<h3>New Subscription</h3>
	<form method="post">
		<fieldset>
			<label class="control-label" for="to_address">Subscription Address</label>
			<input type="text" id="to_address" class="span5" name="to_address" value="{{ .Initial.ToAddress }}"/>
			<br/>
			<button type="submit" class="btn btn-warning">Add Subscription</button>
		</fieldset>
	</form>
{{ end }}