body {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	color: #0d0a1a;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
}

hr {
	margin: 0;
}

.message {
	padding: 5px;
}

.message:hover {
	background-color: #eee;
}

.toolbar {
	padding: 5px;
	padding-top: 6px;
	margin-bottom: 10px;
	background-color: #eee;
}

.toolbar .mini {
	font-size: 12px;
}

.extra-padding {
	margin-bottom: 10px;
}

div.btn a {
	color: #333;
}
div.btn a:hover {
	text-decoration: none;
}