{{ define "generic" }}
	<div class="row notification">
		<div class="span8">
			<div class="channel_block small_block grey">
				<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/240626_10151164156693363_120474922_o.jpg"/>
				<div class="btn btn-warning pull-right" style="height: 90px;">
					&rarr;
				</div>
				<div class="channel_inner no-margin">
					<p class="pull-right muted">{{ . }}</p>
					<h4>{{ call .DisplayAddress .FromAddress }}</h4>
					<p>{{ call .GetContent "airdispat.ch/blog/title" }}</p>
				</div>
			</div>
		</div>
	</div>
{{ end }}