{{ define "head" }}Dispatcher :: Compose{{ end }}

{{ define "title" }}Compose{{ end }}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	<form method="post" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="to_address">To Address</label>
			<div class="controls">
				<input type="text" id="to_address" placeholder="Leave blank for public mail..." class="span5" name="to_address">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mes_type">Message Type</label>
			<div class="controls">
				<select id="mes_type" name="mes_type">
					<option value="_blog">Blog Post</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="blog_title">Blog Entry Title</label>
			<div class="controls">
				<input type="text" id="blog_title" class="span5" name="blog_title">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="blog_content">Content</label>
			<div class="controls">
				<textarea id="blog_content" class="span7" style="height: 500px" name="blog_content"></textarea>
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" value="Send" class="btn btn-warning"/>
		</div>
	</form>
{{ end }}