{{ define "head" }}Dispatcher :: Dashboard{{ end }}

{{ define "title" }}The Dashboard :: Last 7 Days{{ end }}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	<!-- Toolbar -->
	<div class="toolbar">
		<span class="mini">Current Address: <strong>{{ .User.Address }}</strong></span><br/>
	</div>

	{{ $display := .DisplayTag }}

	{{ range .Messages }}
		{{ call $display . }}
		<hr/>
	{{ else }}
		<p>Your dashboard is empty. Why don't you go ahead and <a href="/subscribe">subscribe</a> to some of your friends?</p>
	{{ end }}

{{ end }}