<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Dispatcher</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<br/>
		<div class="container">
			<div class="row">
				<div class="span1">
					<img src="/img/logo.png" width="100px">
				</div>
				<div class="span11">
					<h1>Dispatcher</h1>
					<br/>
					<h5>Please Login</h5>
					<form>
						<input type="text" placeholder="Username"/><br/>
						<input type="password" placeholder="Password"/><br/>
						<input type="submit" class="btn btn-danger" value="Login"/>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
