{{ define "head" }}Dispatcher :: Login{{end }}
{{ define "title" }}Please Login{{ end }}

{{ define "shownav" }}style="visibility:hidden;"{{end}}

{{ define "body" }}
	<div class="row">
		<div class="span5">
			<h3>Login</h3>

			{{ if .FormError }}
				<div class="alert alert-error">
					<strong>Uh oh!</strong> Looks like your Username and Password didn't match.
				</div>
			{{ end }}
			{{ if .DatabaseErorr }}
				<div class="alert alert-warning">
					<strong>Whoops!</strong> We had a database error. Please try again.
				</div>
			{{ end }}

			<form action="/login" method="post">
				<input type="text" placeholder="Username" name="username"/><br/>
				<input type="password" placeholder="Password" name="password"/><br/>
				<input type="submit" class="btn btn-danger" value="Login"/>
			</form>
		</div>
		<div class="span5">
			<h3>Or Register for Free</h3>
			
			{{ if .RegFormError }}
				<div class="alert alert-error">
					<strong>Uh oh!</strong> Looks like you didn't fill out the form correctly.
				</div>
			{{ end }}
			
			{{ if .RegUsernameTaken }}
				<div class="alert alert-error">
					<strong>Uh oh!</strong> That username has already been taken.
				</div>
			{{ end }}
			
			{{ if .RegPasswordMatchError }}
				<div class="alert alert-error">
					<strong>Uh oh!</strong> Looks like you didn't have the same password in both fields.
				</div>
			{{ end }}

			<form action="/account/create" method="post">
				<input type="text" placeholder="Full Name" name="full_name"/><br/>
				<input type="text" placeholder="Username" name="username"/><br/>
				<input type="password" placeholder="Password" name="password"/><br/>
				<input type="password" placeholder="Confirm Password" name="password_confirm"/><br/>
				<input type="submit" class="btn btn-sucess" value="Create Account"/>
			</form>
		</div>
	</div>
{{ end }}