{{ define "head" }}Dispatcher :: {{ .FolderName }}{{ end }}

{{ define "title" }}{{ .FolderName }}{{ end }}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	{{ $time := .TimeFunction }}
	{{ $prefix := .BasePrefix }}
	{{ range .Messages }}
		<div class="message">
			<a href="/{{ $prefix }}/{{ .Id }}">
				<div class="row">
					<div class="span2">
						{{ if .ToAddress }}
							{{ .ToAddress }}
						{{ else }}
							<em>Public Message</em>
						{{ end }}
					</div>
					<div class="span3 offset4">
						{{ call $time .Timestamp }}
					</div>
				</div>
			</a>
		</div>
		<hr/>
	{{ else }}
		<p>No messages in this folder.</p>
	{{ end }}
{{ end }}