{{ define "head" }}Dispatcher :: Show Message{{ end }}

{{ define "title" }}Message{{ end }}

{{ define "shownav" }}{{ end }}

{{ define "body" }}
	<!-- Toolbar -->
	<div class="toolbar">
		<div class="btn-group">
			{{ if .Message.ID }}
			<div class="btn btn-mini">
				<a href="/message/{{ .Message.ID }}/edit"><i class="icon-file"></i> Edit</a>
			</div>
			{{ end }}
		</div>
		<div class="btn-group">
			<div class="btn btn-mini"><i class="icon-mail-reply"></i> Reply</div>
			<div class="btn btn-mini"><i class="icon-mail-forward"></i> Forward</div>
		</div>
		<div class="btn-group">
			<a href="/message/{{ .Message.ID }}/delete" class="btn btn-mini btn-danger"><i class="icon-remove"></i> Delete</a>
		</div>
	</div>

	<!-- Message Headers -->
	<p>Message From: {{ .Message.FROM }}</p>
	<p>Message To: {{ .Message.TO }}</p>
	<p>Sent: {{ .Message.Timestamp }}</p>

	<hr/>

	<!-- Content -->
	{{ range .Message.Content }}
		<div class="row">
			<div class="span3">
				<strong>{{ .TypeName }}</strong>:
			</div>
			<div class="span7">
				{{ .Payload }}
			</div>
		</div>
	{{ else }}
		<p>No Content</p>
	{{ end }}

	<br/>

	<!-- Encryption Warning -->
	{{ if .Message.Encryption }}
		<div class="alert alert-success">
			<i class="icon-lock"></i> Encrypted with {{.Message.Encryption}}
		</div>
	{{ else }}
		<div class="alert">
			<i class="icon-unlock"></i> Unencrypted Message
		</div>
	{{ end }}
{{ end }}